* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	outline: none!important
}

section {
	width: 400px;
	height: 400px;
	background-color: #EEE;
	border: 1px solid #CCC;
	margin: 25px auto;
	padding: 10px
}

.result {
	width: 100%;
	height: 18%;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 25px 15px;
	color: #555;
	margin-bottom: 10px
}

.main {
	width: 100%;
	height: 10%;
	background-color: transparent
}

.main button {
	padding: 10px 15px;
	border: 1px solid #CCC;
	color: #FFF;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease
}

.main button:hover,
.signs button:hover,
.numbers button:hover {
	transform: scale(.9, .9)
}

.main .clear {
	background-color: #F60;
	color: #FFF
}

.main .delete {
	background-color: #555;
	color: #FFF
}

.main .off {
	background-color: #E32E28
}

.numbers,
.signs {
	height: 63%;
	float: left;
	margin-top: 15px
}

.numbers {
	width: 70%
}

.signs {
	width: 30%
}

.signs button,
.numbers button {
	width: 47%;
	background-color: #DDD;
	border: 1px solid #CCC;
	color: #555;
	height: 18%;
	line-height: 2;
	font-size: 18px;
	cursor: pointer;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease
}

.signs button:nth-of-type(3),
.signs button:nth-of-type(5),
.signs button:nth-of-type(7),
.signs button:nth-of-type(9) {
	margin-top: 10px
}

.signs button:last-of-type {
	background-color: #080;
	color: #FFF
}

.numbers button {
	width: 31%
}

.numbers button:nth-of-type(4),
.numbers button:nth-of-type(7),
.numbers button:nth-of-type(10),
.numbers button:nth-of-type(12) {
	margin-top: 10px
}

.sin,
.cos,
.tan {
	color: #FFF!important;
	background-color: #BE3144!important;
	font-size: 17px!important
}